@font-face {
    font-family: vazir;
    src: url(../Font/Vazirmatn-Regular.ttf);
}

/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #444444;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #d13d31;
    border-radius: 8px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #9b1b0f;
  }

* {
    font-family: vazir;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    direction: rtl;
    background-color: #333333;
}

.sidebar {
    height: 100vh;
    width: 20%;
    background-color: #2a2a2a;
    padding: 20px 0;
}

.logo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.logo img {
    width: 50px;
}

.logo h2 {
    color: #d13d31;
}

.items {
    margin-top: 20px;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 40px;
    background-color: #2a2a2a;
    color: #fff;
    margin: 10px 0;
}

.users {
    background-color: #d13d31;
    color: #fff;
}

header {
    background-color: #2a2a2a;
    width: 80%;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

.serach form {
    position: relative;
    width: 250px;
    height: 30px;
}

.serach form input {
    background-color: #333333;
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    padding: 0 10px;
    color: #fff;
}

.serach form i {
    position: absolute;
    left: 10px;
    color: #6A7568;
    top: 7px;
}

.icons {
    width: fit-content;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.icons i {
    color: #fff;
    font-size: 20px;
}

.icons img {
    width: 50px;
    border-radius: 50px;
}

.userAll {
    width: 80%;
    height: 84vh;
    position: absolute;
    top: 100px;
    left: 0;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    overflow-y: scroll;
}

.userAll .user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100px;
    height: 120px;
    background-color: #2a2a2a;
    border-radius: 12px;
    margin: 5px;
}

.userAll .user img {
    width: 50px;
    border-radius: 50px;
}

.userAll .user p {
    color: #fff;
}