@font-face {
    font-family: vazir;
    src: url(../Font/Vazirmatn-Regular.ttf);
}

@keyframes myAnim {
	0% {
		animation-timing-function: ease-in;
		opacity: 0;
		transform: translateX(250px);
	}

	38% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateX(0);
	}

	55% {
		animation-timing-function: ease-in;
		transform: translateX(68px);
	}

	72% {
		animation-timing-function: ease-out;
		transform: translateX(0);
	}

	81% {
		animation-timing-function: ease-in;
		transform: translateX(32px);
	}

	90% {
		animation-timing-function: ease-out;
		transform: translateX(0);
	}

	95% {
		animation-timing-function: ease-in;
		transform: translateX(8px);
	}

	100% {
		animation-timing-function: ease-out;
		transform: translateX(0);
	}
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: vazir;
    color: #e2e2e2;
}

body {
    background-color: #2a2a2a;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    direction: rtl;
}

.container {
    background-color: #181818;
    width: 800px;
    height: 500px;
    border-radius: 16px;
    box-shadow: 1px 1px 2px #0000003b;
    display: flex;

}

.img-sec {
    height: 100%;
    width: 50%;
    background-color: #d13d31;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-sec img {
    width: 90%;
}

.form-sec {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-sec h1 {
    font-size: 2rem;
    color: #d13d31;
    margin-bottom: 60px;
}

.form-sec .form {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.form-sec .form input {
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
    border-bottom: solid 1px #d13d31;
    background-color: transparent;
}

.form-sec .form input:focus {
    border-bottom: solid 2px #d13d31;
}

.form-sec .form label {
    font-size: .8rem;
    margin-top: 10px;
}

.form-sec .form button {
    width: 100%;
    height: 30px;
    border: none;
    margin-top: 30px;
    font-size: 1.1rem;
    background-color: #d13d31;
    color: #fff;
    border-radius: 16px;
}

.form-sec a.google {
    text-decoration: none;
    background-color: #d13d31;
    color: #fff;
    padding: 6px 12px;
    margin-top: 10px;
    border-radius: 50px;
}

.form-sec a i {
    background-color: #fff;
    padding: 5px;
    border-radius: 10px;
    color: #d13d31;
}

.form-sec .or {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-sec .or .line {
    width: 50px;
    height: 1px;
    background-color: #FFF;
}

.form-sec .or span {
    padding: 0 5px;
}

.error {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #d13d31;
    border-bottom: solid 2px #641e17;
    width: 400px;
    height: 50px;
    border-radius: 4px;
    padding: 10px;
    /* display: flex; */
    justify-content: start;
    align-items: center;
    display: none;
    animation: myAnim 1s ease 0s 1 normal forwards;
}

#error-text {
    margin-right: 16px;
    color: #e2e2e2;
}

.error i {
    color: #e2e2e2;
}

.pass {
    position: relative;
}

.pass i {
    position: absolute;
    left: 0;
    color: #e2e2e2;
}

.fa-eye , .fa-eye-slash {
    cursor: pointer;
}